.container{
  max-width: 1280px;
  margin: 0 auto;
}
.pagination button {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #007bff;
  cursor: pointer;
  outline: none;
}
.pagination button:hover {
  background-color: #e9ecef;
}
.pagination button:disabled {
  color: #6c757d;
  cursor: not-allowed;
}
.pagination button.active {
  background-color: #007bff;
  color: #fff;
}
